$color-pond: #55979F;
$color-mud: #404040;
$color-dust: #979797;
$color-hoary: #D8D8D8;
$color-whitish: #f3f3f3;
$color-yolk: #DEDF00;
$color-tomato: #FF6480;


$color-alpha-tomato: rgba(254, 0, 0, 0.6);
